@charset "ISO-8859-1";

#image {
	width: 900px;
	height: 440px;
	top: -147px;
	position: absolute;
	left: 244px;
}

/* h1 { */
/* 	position:absolute; */
/* 	overflow : visible; */
/* 	text-align: center; */
/* } */
#refreshButton {
	position: absolute;
	left: 84px;
	top: 118px;
}

#homeButton {
	position: absolute;
	left: 1px;
	top: 118px;
}

#deleteButton {
	position: absolute;
	left: 250px;
	top: 118px;
}

#welcomeId {
	position: absolute;
	font-size: 37px !important;
	top: 208px;
	left: 324px;
}

#updateEmp {
	position: absolute;
	top: 400px;
	right: 30px;
	bottom: 50px;
	left: 416px;
	width: 226px;
	height: 205px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}

#insertEmp {
	position: absolute;
	top: 400px;
	right: 30px;
	bottom: 50px;
	left: 80px;
	width: 226px;
	height: 205px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}

#employeeTable {
	position: absolute;
	top: 180px;
	left: 0px;
}

#backHome {
	position: absolute;
	top: 500px;
	right: 30px;
	bottom: 50px;
	left: 315px;
	width: 180px;
	height: 30px;
}

#insertEmpButton {
	position: absolute;
	top: 500px;
	right: 30px;
	bottom: 50px;
	left: 80px;
	width: 180px;
	height: 30px;
}

#search {
	position: absolute;
	top: 118px;
	left: 1230px;
}

#deleteEmp {
	position: absolute;
	top: 400px;
	right: 80px;
	bottom: 50px;
	left: 785px;
	width: 226px;
	height: 205px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}

#viewEmp {
	position: absolute;
	top: 400px;
	right: 80px;
	bottom: 50px;
	left: 1146px;
	width: 226px;
	height: 205px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
}

#id {
	position: absolute;
	top: 180px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 30px;
}

#idLabel {
	position: absolute;
	top: 180px;
	right: 30px;
	bottom: 50px;
	left: 50px;
}

#name {
	position: absolute;
	top: 220px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 30px;
}

#nameLabel {
	position: absolute;
	top: 220px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	width: 180px;
	height: 30px;
}

#doj {
	position: absolute;
	top: 260px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 30px;
}

#dojLabel {
	position: absolute;
	top: 260px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	width: 180px;
	height: 30px;
}

#noi {
	position: absolute;
	top: 300px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 30px;
}

#noiLabel {
	position: absolute;
	top: 300px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	width: 180px;
	height: 30px;
}

#ui {
	position: absolute;
	top: 340px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 30px;
}

#uiLabel {
	position: absolute;
	top: 340px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	width: 180px;
	height: 30px;
}

#ca {
	position: absolute;
	top: 380px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 30px;
}

#caLabel {
	position: absolute;
	top: 380px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	width: 180px;
	height: 30px;
}

#comments {
	position: absolute;
	top: 420px;
	right: 30px;
	bottom: 50px;
	left: 220px;
	width: 180px;
	height: 60px;
}

#commentsLabel {
	position: absolute;
	top: 420px;
	right: 30px;
	bottom: 50px;
	left: 50px;
	width: 180px;
	height: 30px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.centered {
	text-align: center;
}

#viewTable {
    position: absolute;
    top: 110px;
}

#homeViewButton {
    position: absolute;
    left: 1px;
    top: 68px;
}

#homeUpdateButton {
    position: absolute;
    left: 1px;
    top: 115px;
}

#searchUpdateButton {
    position: absolute;
    left: 1350px;
    top: 114px;
}

#viewSearch {
    position: absolute;
    top: 73px;
    left: 1230px;
}
#searchViewButton {
    position: absolute;
    left: 1350px;
    top: 68px;
}